@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap");

// Colors

$primary-color: rgb(89, 45, 248);
$secondary-color: white;
$tertiary-color: black;
$background-color: rgb(201, 201, 201);

// Fonts

$primary-font: "Quicksand";

$light: 200;
$regular: 400;
$bold: 700;
